*{
    margin:0;
    padding:0;
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.left_side{
   position: relative;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   text-overflow: hidden;
   font-size: 20px;
}


 .left_side div{
    text-decoration: none ;
    color: black;
    text-decoration: none;
    
}
 .left_side div:hover{
  scale:1.2;
 }

.Project {
  position: relative;
}

.Project ul {
  position: absolute;
  top: 100%;
  left: 0;
  background:rgba(162, 160, 160, 0.4);
  display: none;
  color: wheat;
  z-index: 9999;
  list-style: none;
  padding: 0;
  margin: 0;

}

.Project:hover ul {
  display: block;
}

.Project ul li {
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
}

.left_side a {
    color: wheat;
    text-decoration: none;
    text-transform: none;
  text-shadow: 10px 10px 10px black;
}
.back_ground{
  position: fixed;
  inset: 0;
  z-index: -10;
}

.back_ground video{
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    overflow:hidden;
    position: fixed;
}
.container{
  width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
    margin-top: 200px;
    margin-left: 300px;
    position: relative;
    z-index:500;
    transform-style: preserve-3d;
   transform: perspective(1000px);
}

.container div{
    width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 400px;
   background:rgba(162, 160, 160, 0.4);
   border-radius: 50px;
   margin-left: 150px;
   transform: rotateY(calc(var(--postition)-1)*(360/var(--quantity))*1deg)
        translateZ(550px);
   transform: scale(1);

}


